body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
}
.margin{
    margin-top: 100px;
}
.orange-color{
    color: #FFA500;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#FF9D77,#FF6A4D);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}